*
{
    margin: 0;
    padding: 0;

}

header
{

    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(new\ bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float:right;
    list-style:none;
    margin-top: 30px;


}


.main-nav li
{
    display:inline-flex;

}

.main-nav li a
{
    color: black ;
    text-decoration:none;
    padding:10px 20px;
    font-family: "copperplate" , fantasy ;
    font size:100px;
    margin-right:50px;

}

.main-nav li.active a
{
    border: 1px solid white;
}



.main-nav li a:hover
{
    border: 1px white;
    background-color: rgb(255, 6, 6);
}

.logo img
{
    width: 150px;
    height: auto;
    float:left;

}

body
{
    font-family: monospace;
}

.row
{
    max: width 1200px;
    margin:auto;
}

.hero
{
    position:absolute;
    width:1200px;
    margin-left: 0px;
    margin-top: 0px;

}

h1 span
{

    color:#FF0000;
    font-family: "Times new roman" , serif;
    font-size: 60px;
}

h1
{
    color:black;
    text-transform:uppercase;
    font-size:60px;
    text-align:center;
    margin-top:190px;
    margin-left: 50px;
    font-family: 'Times New Roman', serif;
}
h2 span
{
    color:black;
    font-family: "Times new roman" , serif;
    font-size: 60px;
}
h2
{
    color:#FF0000;
    text-transform:uppercase;
    font-size:60px;
    text-align:center;
    margin-right: 50px ;
    margin-left: 50px;
    margin-top:10px;
    font-family: "Times new roman" , serif;
    
}

h3
{
    color:#FF0000;
    text-transform:uppercase;
    font-size:60px;
    text-align:center;
    margin-top:10px;
    margin-right:50px;
    margin-left: 50px;
    font-family: "Times new roman" , serif;
}
.button
{
    margin-top:75px;
    margin-left:400px;
    margin-right: 100px;
}

.btn 
{
    border: 5px solid rgb(17, 17, 17);
    padding: 10px 30px;
    color:#FFD700;
    text-decoration:none;
    margin-right:5px;
    font-size:50px;
    text-transform:uppercase;
    

}


.btn-one
{
    font-family:"copperplate",fantasy;
}

.btn-one:hover
{
    background-color:white;
    transition:all 0.5s ease-in;
}
